body {
  display: flex;
  flex-direction: column;
}

#Header {
  display: flex;
  justify-content: flex-end;

}

.NavLinks {
    
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.NavButton {
  background-color: #1A73E8;
  margin: 0 8px ;
  padding: 9px 15px;
  width: 80px;
  height: 36px;
  border-radius: 2px;
  color: white;
  border: none;
}

.svg-icon {
  width: 2em;
  height: 2em;
}
  
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}
  
.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.SecondSection {
  display: flex;
  flex-direction: column;
}

.GoogleLogo {
  width: fit-content;
  align-self: center;
}


  .SearchBarCenter {
  border: 1px solid black;
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-self: center;
  border-radius: 20px;
}

 .ButtonSection {
  display: flex;
  flex-direction: column;
}

 .ButtonList {
  list-style: none;
  display: flex;
  gap:50px;
  width: fit-content;
  align-self: center;
}

 p {
  width: fit-content;
  align-self: center;
 }

 .ButtonListStyle {
  padding: 0 16px;
  background-color: #F8F9FA;
  border-radius: 5px;
  width: 127.41px;
  height: 36px;
  border: none;
 }

 .FooterList {
  list-style: none;
  display: flex;
  gap:10px;
}

 .FooterListContainer {
  display: flex;
  justify-content: space-between;
 }

 .Footer {
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
 }
 